*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
max-width: 1024px;
margin: 0 auto;
   position: relative;
}
         
                        /* INDEX.HTML */
    /* HEADER */
header{
    background-color: #c7b9b9;

    text-align: center;
    padding: 20px;
    width: 100%;
    height: 141px;
    
}
h1{
    font-size: 40px;
    color: #193cb8;
}
.logo{
    background-color: #193cb8;
    border-radius: 50%;
}
.logo:hover{
    background-color:  rgba(255, 94, 19,0.7);
    border-radius: 50%;
}
/* NAVIGATION */
.nav__menu{
    width: 150px;
    height: 300px;
align-content: center;
background-color:  #c7b9b9;
border-radius: 10px;
left:550px;
top:170px;
position: fixed;

 box-shadow: rgb(122, 120, 120)  0 12px 24px 3px;

}
.nav__list {
 list-style: none;
padding: 15px;
}
.nav__links {
    text-decoration: none;
   color: #193cb8;
   font-size: 20px;
   line-height: 2.5;
font-weight: bold;
border: 3px solid rgba(255, 255, 255,0.5);
border-radius: 10px;
padding: 6px;
}
.nav__links:hover {

 background-color: rgba(8, 102, 255,0.5);
 border: 3px solid rgba(8, 102, 255,0.5);
 color: #ffffff;
}
/* CARDS */
.card1{
    position:absolute;
top:30px;
    text-decoration: none;
  left: 170px;
    min-width: 417px;
    min-height: 200px;
    background-color: rgba(67, 108, 255, 0.5);
    padding-left: 30px;
    padding-top: 80px;
    border-radius: 10px;
 
   }
   .card2{
    position:absolute;

    top: 30px;

    text-decoration: none;
  left: 608px;

     min-width: 417px;
    min-height: 200px;
    background-color: rgba(253, 218, 45, 0.5);
    padding-left: 80px;
    padding-top: 80px;
    border-radius: 10px;
   }



   .card3{
    position:absolute;
    top: 260px;

    text-decoration: none;
  left: 170px;

    min-width: 417px;
    min-height: 200px;
    background-color: rgba(22, 177, 29,0.5);
    padding-left: 100px;
    padding-top: 80px;
    border-radius: 10px;
 
   }
      .card4{
    position:absolute;
 
   top: 260px;

    text-decoration: none;
 left: 608px;

     min-width: 417px;
    min-height: 200px;
    background-color: rgba(255, 94, 19,0.5);
    padding-left: 60px;
    padding-top: 80px;
    border-radius: 10px;
   }

   .card__border{
    border: 3px solid  #c7b9b9;
   }
   
   
   .card__border:hover{
    border: 4px solid  #492828;
   }
   
   

.section__links{
    text-decoration: none;
color: #000000; 
font-size: 25px;
   }
   /* FOOTER */
footer{
    position: fixed;
bottom: 0;
    background-color: #193cb8;
width: 100%;

   }
   p{
    padding: 20px;
   text-align: center;
   color: #ffffff;
   font-size: 20px;
   }
   /* INTERVIEW.HTML */
   .interview{
    position: absolute;
max-width: 824px;
left: 200px;
top: 30px;
   }
.accordeon__item{
    list-style: none;
    margin-bottom: 20px;
        border: 2px solid rgba(133, 108, 108,0.3);
        box-shadow: rgba(133, 108, 108,0.3) 0 12px 24px 3px;
            padding: 20px 5px;
     border-radius: 10px;       
}
#accordeon .accordeon__item  label{
padding-left: 20px;
    font-size: 19px;
    font-weight: bold;
}

#accordeon .accordeon__item label + .interview__answer{
    padding-top: 10px;
    font-size: 25px;
font-size: 18px;
max-height: 0;
overflow: hidden;
}
#accordeon .accordeon__item input[type="radio"]{
    display: none;
}
#accordeon .accordeon__item  input[type="radio"]:checked + label  + .interview__answer{
    max-height: 400px;
    transform: max-height 0.7s;
}

.interview__question__list{
border:none;
 margin-bottom: 0;
}
/* PARCOURS.HTML */
.personal__info__container{
position: absolute;
max-width: 824px;
left: 200px;
top: 30px;
background-color: #c7b9b9;
border-radius: 10px;
 box-shadow: rgba(94, 71, 71, 0.3) 0 12px 24px 3px;
}
.personal__info__title{
padding-left: 12px;
padding-top: 20px;
font-size: 25px;
}
.personal__text{
color: black;

}
.personal__photo{
    border-radius:10px
}