*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
max-width: 1024px;
margin: 0 auto;
   position: relative;
}
header{
    background-color: #c7b9b9;
 
    text-align: center;
    padding: 20px;
    width: 100%;
    /* position: relative; */
}
h1{
    font-size: 40px;
    color: #193cb8;
}
.logo{
    background-color: #193cb8;
    border-radius: 50%;
}
.nav__menu{
    width: 150px;
    height: 150px;
align-content: center;
background-color: #cca9a9;
position: fixed;
left:0;
top:30px;
position: absolute;

}
.nav__list {
 list-style: none;
}
.nav__links {
    text-decoration: none;
   
}

.card1{
    position:absolute;
top:30px;
    text-decoration: none;
  left: 170px;
    min-width: 417px;
    min-height: 200px;
    background-color: #b10e0e;
    padding-left: 110px;
    padding-top: 80px;
    border-radius: 10px;
 
   }
   .card2{
    position:absolute;

    top: 30px;

    text-decoration: none;
  left: 608px;
   /* max-width: 900px; */
     min-width: 417px;
    min-height: 200px;
    background-color: #ffd416;
    padding-left: 110px;
    padding-top: 80px;
    border-radius: 10px;
   }



   .card3{
    position:absolute;
    top: 260px;

    text-decoration: none;
  left: 170px;
   /* max-width: 900px; */
    min-width: 417px;
    min-height: 200px;
    background-color: #16b11d;
    padding-left: 110px;
    padding-top: 80px;
    border-radius: 10px;
 
   }
      .card4{
    position:absolute;
 
   top: 260px;

    text-decoration: none;
 left: 608px;
   /* max-width: 900px; */
     min-width: 417px;
    min-height: 200px;
    background-color: #ff5e13;
    padding-left: 110px;
    padding-top: 80px;
    border-radius: 10px;
   }

   

   .section__links{
    text-decoration: none;

 
   }
footer{
    position: fixed;
bottom: 0;
    background-color: red;
width: 100%;

   }
   p{
    padding: 50px;
   }
   .interview{
    position: absolute;
max-width: 824px;
left: 200px;
top: 30px;
   }
.accordeon__item{
    list-style: none;
    margin-bottom: 20px;
        border: 2px solid rgba(133, 108, 108,0.3);
        box-shadow: rgba(133, 108, 108,0.3) 0 12px 24px 3px;
            padding: 20px 5px;
     border-radius: 10px;       
}
#accordeon .accordeon__item  label{
    font-size: 22px;
    font-weight: bold;


}

#accordeon .accordeon__item label + .interview__answer{
font-size: 18px;
max-height: 0;
overflow: hidden;
}
#accordeon .accordeon__item input[type="radio"]{
    display: none;
}
#accordeon .accordeon__item  input[type="radio"]:checked + label  + .interview__answer{
    max-height: 400px;
    transform: max-height 0.7s;
}

.interview__question__list{
border:none;
 margin-bottom: 0;
}